server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      mvc:
        routes:
          - id: auth-service
            uri: lb://auth-service
            predicates:
              - Path=/auth/**

          - id: todo-service
            uri: lb://todo-service
            predicates:
              - Path=/todo/**

          - id: todo-service-friends
            uri: lb://todo-service
            predicates:
              - Path=/friends/**


eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

logging:
  level:
    org.springframework.security: DEBUG