server:
  port: 8080

spring:

  application:
    name: api-gateway

  cloud:
    gateway:
      mvc:
        routes:
          - id: auth-service
            uri: lb://auth-service
            predicates:
              - Path=/auth/**

          - id: todo-service
            uri: lb://todo-service
            predicates:
              - Path=/todos/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

logging:
  level:
    org.springframework.security.web.FilterChainProxy: TRACE
